/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 61px;
  background-color: #f5f5f5;
  overflow-x: auto;
  white-space: nowrap;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}

.container .text-muted {
  margin: 20px 0;
}

.btn-base {
  background-color: #B5D499;
}

.btn-base:hover {
  background-color: #519E38;
}

.btn-cry {
  background-color: #DCDBDC;
  display: block;
  float: left;
}

.btn-cry:hover {
  background-color: #C8C6C5;
}


.cry-icon {
  position: absolute;
}

.cry-icon:hover {
  cursor: pointer;
}

#graph-title {
  margin: auto;
  width: 60%;
  background-color: #E4D09B;
  border: 10px solid #E45A53;

  text-align: center;
  vertical-align: center;
}

#graph {
  position: relative;
  background-color: #F4EED8;
  border: 10px solid #E45A53;
  border-radius: 10px;
  margin: auto;
  width: 90%;
}

#graph:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}